@import "/styles/colour.css";

body {
  color: var(--col-N800);
  --desktop-breakpoint: 100px;
}

body.modal-open {
  position: fixed;
  top: var(--modalTop);
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI";
  font-size: 14px;
  /* color: var(--col-N800); */
}

.button {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  font-family: inherit;
  border-radius: 3px;
  background-color: rgba(9, 30, 66, 0.04);
  color: var(--col-N500)!important;
  padding: 0 10px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: background-color 100ms ease-out;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(9, 30, 66, 0.08);
  text-decoration: inherit;
  transition-duration: 0s, 0.15s;
}

.button:active {
  background: rgba(179, 212, 255, 0.6);
  transition-duration: 0s, 0s;
  color: var(--col-B400)!important;
}

form button {
  font-family: inherit;
  border-radius: 3px;
  background-color: var(--col-B400);
  color: var(--col-N0);
  padding: 0 10px;
  height: 32px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: background-color 100ms ease-out;
}

form button:hover {
  cursor: pointer;
  background-color: var(--col-B300);
}

form button:active {
  background-color: var(--col-B500);
}

button {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: var(--col-N20);
}

button:hover {
  cursor: pointer;
  background-color: var(--col-N30);
}

button:active {
  background-color: var(--col-B50);
}

button.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.h600 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.008em;
  color: var(--col-N800);
  line-height: 24px;
  margin-top: 28px;
}

.h400 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.003em;
  color: var(--col-N800);
  line-height: 16px;
  margin-top: 16px;
}

.h300 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--col-N800);
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 20px;
}

.h200 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--col-N200);
  line-height: 16px;
  margin-top: 16px;
}

.h100 {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--col-N200);
  line-height: 16px;
  margin-top: 16px;
}

.card {
  background: var(--col-N0);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
  border-radius: 3px;
}

.floating {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--col-B400);
  text-decoration: none;
  /* height: 1em; */
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--col-P400);
}

.lozenge {
  background-color: var(--col-N40);
  border-radius: 3px;
  color: var(--col-N500);
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px 3px;
  text-transform: uppercase;
  margin-top: auto;
}

input {
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.6em 0.4em;
  border: 0px;
  outline: none;
  width: 100%;
  border: 2px solid var(--col-N40);
  background-color: var(--col-N10);
  transition: border-color 200ms ease-in-out
            , background-color 200ms ease-in-out;
  border-radius: 0.2em;
}

input:not(:focus):hover {
  background-color: var(--col-N30);
}

input:focus {
  background-color: var(--col-N0);
  border-color: var(--col-B100);
}

label {
  display: inline-flex;
  margin-bottom: 4px;
}

label[required]::after {
  content: "*";
  color: var(--col-R400);
  margin-left: 2px;
}

.sticky {
  position: sticky;
  top: 0px;
}

.side-bar {
  background: var(--col-N20);
  width: 240px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.side-bar span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.side-bar a {
  text-decoration: none;
}

.side-bar button {
  padding: 8px 12px;
  border-radius: 3px;
  background-color: transparent;
  height: 40px;
  text-align: left;
  color: var(--col-N500);
  width: 100%;
}

.side-bar button.action {
  height: 64px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.side-bar button.action ion-icon {
  background: var(--col-T300);
  color: var(--col-N0);
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 3px;
  border: 8px solid var(--col-T300);
}

.side-bar button:hover {
  background-color: var(--col-N30);
}

.side-bar button:active {
  background-color: var(--col-B50);
}

@keyframes modal {
  from {
    transform: translate(-50%, 20px);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
}

.no-margin {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.help-text {
  font-size: 12px;
  color: var(--col-N200);
  margin-top: 4px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.help-text ion-icon {
  margin-right: 4px;
  font-size: 16px;
}

.help-text[appearance=error] {
  color: var(--col-R400);
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group * + * {
  margin-left: 4px;
}
