@import "/styles/colour.css";
@import "/styles/icon-font.css";

body {
  color: var(--col-N800);
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI";
  font-size: 14px;
  /* color: var(--col-N800); */
}

button {
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: var(--col-N20);
}

button:hover {
  cursor: pointer;
  background-color: var(--col-N30);
}

button:active {
  background-color: var(--col-B50);
}

button.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.h600 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.008em;
  color: var(--col-N800);
  line-height: 24px;
  margin-top: 28px;
}

.h400 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.003em;
  color: var(--col-N800);
  line-height: 16px;
  margin-top: 16px;
}

.h300 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--col-N800);
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 20px;
}

.h200 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--col-N200);
  line-height: 16px;
  margin-top: 16px;
}

.h100 {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--col-N200);
  line-height: 16px;
  margin-top: 16px;
}

.card {
  background: var(--col-N0);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
  border-radius: 3px;
}

.floating {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--col-B400);
  text-decoration: none;
  height: 1em;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--col-P400);
}

.lozenge {
  background-color: var(--col-N40);
  border-radius: 3px;
  color: var(--col-N500);
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px 3px;
  text-transform: uppercase;
  margin-top: auto;
}

input {
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.6em 0.4em;
  border: 0px;
  outline: none;
  width: 100%;
  border: 2px solid var(--col-N40);
  background-color: var(--col-N10);
  transition: border-color 200ms ease-in-out
            , background-color 200ms ease-in-out;
  border-radius: 0.2em;
}

input:not(:focus):hover {
  background-color: var(--col-N30);
}

input:focus {
  background-color: var(--col-N0);
  border-color: var(--col-B100);
}

label {
  display: inline-flex;
  margin-bottom: 4px;
}

.sticky {
  position: sticky;
  top: 0px;
}
