@import "/styles/base.css";

.auth__container {
  padding: 36px;
  width: 100%;
  max-width: 80ch;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: auto;
}

.auth__container .h600 {
  margin: 0;
}

.auth__backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--col-N30);
}
