@import "/styles/style.css";

/*
* Stylesheet is applied to shadow-dom elements which is why ids are used
*/

#container {
  display: flex;
  flex-direction: column;
  box-shadow: 0em 0.5em 1em var(--col-N30);
}

#like-popup {
  padding: 0;
}

#like-popup div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.comment {
  display: flex;
  flex-direction: column;
}

#actions {
  background-color: var(--col-B400);
  height: 56px;
  display: flex;
  justify-content: center;
}

.action {
  box-sizing: border-box;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action button {
  color: var(--col-N30);
  padding: 0;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action button:hover {
  background: transparent;
}

.action .badge {
  /* margin-right: 1em; */
  background-color: var(--col-N30);
  color: var(--col-B500);
  position: relative;
  left: -1em;
}

.action .badge:hover {
  cursor: pointer;
  background-color: var(--col-N0);
}

.action .badge:active {
  background-color: var(--col-N40);
}
