@import "/styles/base.css";

@keyframes grow {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(100%, 100%);
  }
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 8px;
  animation-name: grow;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}

#frame {
  position: relative;
}

#frame > button {
  position: absolute;
  top: 8px;
  right: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

#frame:hover > button {
  opacity: 1;
}

img {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 8px;
}

#description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a qp-avatar {
  margin-right: 8px;
}

#like-popup {
  padding: 0;
}

#like-popup div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.comment {
  display: flex;
  flex-direction: column;
}

#actions {
  display: flex;
  align-items: center;
}

#actions .icon-button {
  width: 28px;
  height: 28px;
  background-color: transparent;
}

#actions button:hover {
  background-color: var(--col-N20);
}

#actions button:active {
  background-color: var(--col-B50);
}

#like ion-icon[name="heart"] {
  color: var(--col-R300);
}

#actions #like:active {
  background-color: var(--col-R50);
}

#actions .separator {
  font-size: 6px;
  margin-left: 12px;
  margin-right: 6px;
}

#description {
  margin: 8px 6px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 6px;
}

footer .h200 {
  margin: 0;
}

.expanded {
  animation-name: expand;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;

  width: calc(100vh - 32px);
  height: calc(100vh - 32px);
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  border: none;
  padding: 0;
}

.expanded > button {
  opacity: 0;
  transition: opacity 200ms ease-out;
  position: absolute;
  top: 8px;
  right: 8px;
}

.expanded > img:hover + button, .expanded button:hover  {
  opacity: 1;
}

@keyframes expand {
  from {
    width: var(--expandStartWidth);
    height: var(--expandStartHeight);
    width: 284px;
    height: 284px;
    position: fixed;
    left: var(--expandStartLeft);
    top: var(--expandStartTop);
    transform: translate(0%, 0%);
  }

  to {
    width: calc(100vh - 32px);
    height: calc(100vh - 32px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.contract {
  animation-name: contract;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes contract {
  from {
    width: calc(100vh - 32px);
    height: calc(100vh - 32px);
    position: fixed;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
  }

  to {
    /* width: var(--expandStartWidth);
    height: var(--expandStartHeight); */
    width: 284px;
    height: 284px;
    position: fixed;
    left: var(--expandStartLeft);
    top: var(--expandStartTop);
    transform: translate(0%, 0%);
  }
}

:host(qp-post) {

}
