:root {
  /* Palette from <https://atlassian.design/foundations/color> */

  /* Neutrals */
  --col-N900: #091E42;
  --col-N800: #172B4D;
  --col-N500: #42526E;

  --col-N40: #DFE1E6;
  --col-N30: #EBECF0;
  --col-N10: #FAFBFC;
  --col-N0: #FFFFFF;

  /* Blues */
  --col-B500: #0747A6;
  --col-B400: #0052CC;
  --col-B300: #0065FF;
  --col-B100: #4C9AFF;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--col-N0);
  color: var(--col-N800);
  height: 100%;
  font-family: "Segoe UI";
}

button {
  font-family: inherit;
  font-size: 0.875em;
  border-radius: 0.2em;
  background-color: var(--col-B400);
  color: var(--col-N0);
  padding: 0 0.85em;
  height: 2.25em;
  font-weight: 500;
  border: none;
  outline: none;
  transition: background-color 100ms ease-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--col-B300);
}

button:active {
  background-color: var(--col-B500);
}

input {
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.6em 0.4em;
  border: 0px;
  outline: none;
  width: 100%;
  border: 2px solid var(--col-N40);
  background-color: var(--col-N10);
  transition: border-color 200ms ease-in-out
            , background-color 200ms ease-in-out;
  border-radius: 0.2em;
}

input:not(:focus):hover {
  background-color: var(--col-N30);
}

input:focus {
  background-color: var(--col-N0);
  border-color: var(--col-B100);
}
