@import "/styles/base.css";
@import "/styles/colour.css";

* {
  box-sizing: border-box;
}

:not(:defined) {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--col-N0);
  color: var(--col-N800);
  height: 100%;
  font-family: "Segoe UI";
}

button {
  font-family: inherit;
  font-size: 0.875em;
  border-radius: 0.2em;
  background-color: var(--col-B400);
  color: var(--col-N0);
  padding: 0 0.85em;
  height: 2.25em;
  font-weight: 500;
  border: none;
  outline: none;
  transition: background-color 100ms ease-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--col-B300);
}

button:active {
  background-color: var(--col-B500);
}



.badge {
  background-color: var(--col-N40);
  border-radius: 2em;
  padding: calc(1em / 6) 0.5em;
  font-size: 12px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  background: transparent;
  position: relative;
  color: inherit;
  padding: 0;
  height: 100%;
  width: 100%;
}

.icon-button .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em 0;
  color: inherit;
}
